@import "monokai.css";

pre {
    margin: .5em 0;
}
code {
    font-family: var(--code-font);
    font-size: var(--small-text-size);
    background: #23241f;
    color: #FFFFFF;
    line-height: 1.3em;
    padding: 0.25em 0.5em;
}
div:not(.example) > pre code {
    width: 60%;
    min-width: 500px;
    margin: 0 auto;
}

code .note {
    background-color: rgba(255, 245, 175, 0.15);
}
code .note:hover {
    background-color: rgba(255, 245, 175, 0.3);
}

.example .codepen {
    position: absolute;
    bottom: 0.5em;
    right: calc(50% + 1em);
}
.example .codepen:after {
    display: block;
    content: "";
    border-radius: 50%;
    background: url(codepen-icon.svg) #f8f8f2 no-repeat .1em .1em;
    background-size: 1em 1em;
    height: 1.2em;
    width: 1.2em;
}
