@import "code.css";
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Ubuntu+Mono|Source+Sans+Pro');

:root {
    --main-color: #642B73;
    --second-color: #FFF5AF;
    --text-color: #222;
    --reverse-text-color: white;
    --links-color: #1685d2;

    --main-font: 'Source Sans Pro', sans-serif;
    --title-font: 'Marck Script', cursive;
    --code-font: 'Ubuntu Mono', monospace;

    --main-title-size: 96px;
    --medium-title-size: 48px;
    --small-title-size: 36px;
    --text-size: 24px;
    --small-text-size: 18px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: var(--text-size);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

h2 {
    color: var(--main-color);
    font-size: var(--medium-title-size);
}

h3 {
    font-size: var(--small-title-size);
}

p {
    line-height: 1.3em;
    margin: 1rem 0;
}

.screen p {
    max-width: 650px;
    text-align: justify;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--links-color);
}

p a, aside a {
    border-bottom: 1px dashed var(--links-color);
}
p a:hover, aside a:hover {
    border-bottom: 1px solid var(--links-color);
}

strong {
    font-weight: bold;
    color: var(--main-color);
}

.title-screen, .screen {
    min-height: 100vh;
    padding: 1% 5%;
}

.title-screen {
    background: var(--main-color);
    background: linear-gradient(to left, #C6426E, var(--main-color));
}

.title-screen * {
    color: var(--reverse-text-color);
}

.screen {
    background: #FFF;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.8);
}

.element {
    margin: 1em 0;
}

.main-title {
    padding: 30px 0;
}

.main-title h1 {
    font-size: var(--main-title-size);
    line-height: 290px;
    color: var(--second-color);
}
.main-title h1 img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-title small {
    font-family: var(--main-font);
    font-size: var(--text-size);
    font-style: italic;
}

.description {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
    max-width: 55%;
}

.description > * {
    padding: 1em;
    margin: 1em 0;
}

.description strong {
    color: var(--second-color);
}

.description p {
    text-align: justify;
    line-height: 1.5;
}

.btn {
    padding: var(--text-size);
    color: var(--main-color);
    background: var(--second-color);
    border: none;
}
.btn:hover {
    text-decoration: none;
    border: none;
}

.example {
    position: relative;
    display: flex;
    border: 1px solid #272822;
    max-height: 92vh;
}
.example > pre, .example > iframe {
    width: 50%;
}
.example pre {
    margin: 0;
    min-height: 150px;
    overflow: auto;
}
.example code {
    min-height: 150px;
}
.example .scene {
    border-width: 1px;
    border-left-width: 0;
}

.example.loading iframe {
    background-image: linear-gradient(90deg, transparent 0, rgba(255, 255, 255, .4) 25%, transparent 50%);
    background-position: 0 0;
    background-size: 200% 100%;
    background-color: #d7d7d7;
    animation: loading infinite 1.5s;
}
@keyframes loading {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: -100% 0;
    }
}

canvas {
    display: block;
}

.afix {
    position: fixed;
    right: 0;
    top: 100px;
    background-color: #FFF;
    padding: 1em;
    opacity: .4;
    font-size: var(--small-text-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.afix:hover {
    transition: opacity linear .1s;
    opacity: 1;
}

.afix li {
    margin: .8em 0;
}
.afix li::before {
    content: "🡆 ";
}

.tooltip {
    position: fixed;
    background-color: #FFFFFF;
    max-width: 600px;
    font-size: var(--small-text-size);
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding: 0.5em 1em;
    transform: translate(0, -100%);
}
.tooltip.shown {
    display: block;
}

.github-corner {
    position: absolute;
    top: 0;
    right: 0;
}
.github-corner > svg {
    fill: #fff;
    color: #C6426E;
}
.github-corner .octo-arm {
    transform-origin: 130px 106px;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}
@media (max-width:500px){
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
